In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(0)

sales_amounts = np.random.randint(20, size=(5, 3)) 
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [3]:
weekly_sales = pd.DataFrame(sales_amounts,
                            index=["Mon", "Tues", "Wed", "Thurs", "Fri"],
                            columns=["Almond butter", "Peanut butter", "Cashew butter"])
weekly_sales

       Almond butter  Peanut butter  Cashew butter
Mon               12             15              0
Tues               3              3              7
Wed                9             19             18
Thurs              4              6             12
Fri                1              6              7

In [4]:
prices = np.array([10, 8, 12])
prices

array([10,  8, 12])

In [5]:
butter_prices = pd.DataFrame(prices.reshape(1, 3),
                             index=["Price"],
                             columns=["Almond butter", "Peanut butter", "Cashew butter"])
butter_prices

       Almond butter  Peanut butter  Cashew butter
Price             10              8             12

In [6]:
daily_sales = butter_prices.dot(weekly_sales.T)

In [7]:
daily_sales

       Mon  Tues  Wed  Thurs  Fri
Price  240   138  458    232  142